<form [formGroup]="loginForm" novalidate (ngSubmit)="submit()">
    <h1>Sign in</h1>
    <div class="mb-3">
        <label for="email1" class="form-label">Email address</label>
        <input formControlName="email" type="email" class="form-control" id="email1">
    </div>
    <div class="mb-3">
        <label for="password1" class="form-label">Password</label>
        <input formControlName="password" type="password" class="form-control" id="password1">
    </div>
    <button type="submit" class="btn btn-primary login">Login</button>
</form>
